body{
    margin: 0;
    padding: 0;
    font-family: "League Spartan", sans-serif;
}

.header .navigation{
    display:flex ;
    justify-content: space-around;
    background-color: #FFFFFF; 
     
}
.header .navigation .name h2{
    color: #86469C;
    font-size: 28px;
}
.header .navigation .nav-bar ul{
    list-style-type: none;
    display: flex;
    gap: 25px;
    margin-top: 17px;
    font-size: 18px;


}
.header .navigation .nav-bar ul li{
    background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  100%, #ff6e7f  100%);
    padding: 7px 15px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    display: block;
}
.header .navigation .nav-bar ul li:hover{
    background-position: right center;
    color: #fff;
    text-decoration: none;
    border-radius: 5px 0px 5px 0;
}

.header .navigation .nav-bar ul li a{
    text-decoration: none;
    color: #eee;

}   
.header .navigation .nav-bar ul li a:hover{
    color: #000;

} 
.hero-section{
    height: 90svh;
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 150%);
    text-align: center;
    align-content: center;
}
.hero-section h1{
    font-size: 64px;
}
.hero-section p{
    font-size: 32px;
}
.hero-section img{
    margin-top: 50px;
    cursor: pointer;
}
.my-projects{
    margin-bottom: 50px;
}
.my-projects h1{
    text-align: center;
    margin: 40px;
}
.filter-container {
    display: flex;
    justify-content: left;
    margin: 20px 130px;
}

.filter-select {
    font-family: "League Spartan", sans-serif;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  100%, #ff6e7f  100%);
}

.filter-btn, .clear-filter-btn {
    background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  100%, #ff6e7f  100%);
    color: #000;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
}

.clear-filter-btn {
    font-family: "League Spartan", sans-serif;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    display: block;
    font-weight: 400;
}
.clear-filter-btn:hover{
    background-position: center;
    color: black;
    text-decoration: none;
    border-radius: 5px 0px 5px 0;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
    border: 1px solid #ff6e7f;
    cursor: pointer;
}

.card-image {
    position: relative;
}

.card-image img {
    width: 300px;
    height: 200px;
}

.tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.tag.web {
    background-color: blue;
}

.tag.android {
    background-color: black;
}

.card-content {
    padding: 20px;
    text-align: center;
}

.card-content h3 {
    margin: 0 0 10px;
    font-size: 20px;
    color: #333;
}

.card-content p {
    margin: 0;
    color: #777;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
.lightbox-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    font-size: 20px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.skill-h1{
    text-align: center;
    margin: 40px;
    margin-bottom: 40px;   
}
.skill-section{
    height: 100svh;
   background: #e3edf7;  
   padding-top: 20px;
}

.skill-container{
    margin-top: 20px;
    padding: 170px;
    display: flex;
    justify-content: space-between;
}

.skill{
    width: 160px;
    height: 160px;
    position: relative;
    
}
.skill-h2{
    text-align: center;
}
.outer{
    height: 120px;
    width: 120px;
    border-radius: 50%;

    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(0,0,0,0.7);
    padding: 20px;

}
.inner{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset  4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,.7),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,.15),
                0px 12px 10px -10px rgba(0,0,0,.05);
}

#number,#number1,#number2,#number3,#number4{
    font-weight: 600;
    color: #555;
}

circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472 ;
    animation: anim 2s linear forwards;
}
.circle1{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472 ;
    animation: anim1 2s linear forwards;
}
.circle2{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472 ;
    animation: anim2 2s linear forwards;
}
.circle3{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472 ;
    animation: anim3 2s linear forwards;
}
.circle4{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472 ;
    animation: anim4 2s linear forwards;
}
svg{
    position: absolute;
    top: 0;
    left: 0;
}
@keyframes anim{
    100%{
        stroke-dashoffset: 88;
    }
}

@keyframes anim1{
    100%{
        stroke-dashoffset: 134;
    }
}
@keyframes anim2{
    100%{
        stroke-dashoffset: 205;
    }
}
@keyframes anim3{
    100%{
        stroke-dashoffset: 110;
    }
}
@keyframes anim4{
    100%{
        stroke-dashoffset: 65;
    }
}
.container{
    display: flex;
    justify-content: space-between;
}
.btn{
    background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  100%, #ff6e7f  100%);
    text-align: center;
    transition: 0.5s;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}
.contact-left form{
    width: 50%;
    margin-left: 100px;

}
.contact-right{
    width: 50%;
}
form input, form textarea{
    width: 100%;
    border: 1px solid black;
    outline: none;
    background: #eee;
    padding: 15px;
    margin: 15px 0;
    color: #000;
    font-size: 18px;
    border-radius: 6px;
}
.btn:hover{
    color: black;
    text-decoration: none;
    border-radius: 5px 0px 5px 0;
}

.map {
    padding: 10px 100px 20px 0;
  }

.footer .details{
    background-color: #333;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.about-me h3,.about-me a,.social-links a{
    color: #FFF;
    text-decoration: none;
    display: flex;
    margin-top: 20px;
}
.social-links h3{
    color: #fff;
}
.footer p{
    color: #bbb;
}
.footer{
    background-color: #333;
    text-align: center;
    margin-top: 40px;
    margin-bottom: -20px;
    padding: 20px;
    padding-bottom: 0;
}
















/* Mobile devices (portrait) */
@media only screen and (max-width: 600px) {
    .header .navigation {
        flex-direction: column;
        align-items: center;
    }

    .header .navigation .nav-bar ul {
        flex-direction: row;
        gap: 10px;
        margin-top: 10px;
    }

    .hero-section h1 {
        font-size: 36px;
    }

    .hero-section p {
        font-size: 18px;
    }

    .hero-section img {
        width: 50px;
    }
    .card-image img {
        width: 100%;
        height: 200px;
    }
    .filter-container {
        flex-direction: column;
        align-items: center;
        margin: 10px 20px;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
    }
    .skill-section{
        height: 200vh;
    }

    .skill-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .skill {
        margin-bottom: 70px;
    }

    .contact-right iframe {
        width: 100%;
        height: 300px;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .container .contact-left,
    .container .contact-right {
        width: 100%;
        margin-bottom: 20px;
    }
}